@model ConsuTiWebApp.Models.GadosModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>GadosModel</h4>
    <hr />
    <dl class="dl-horizontal">
    </dl>
</div>
<p>
    
    @Html.ActionLink("Back to List", "Index")
</p>
